@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 345 60% 97%;
    --foreground: 240 10% 3.9%;
    --card: 345 60% 98%;
    --card-foreground: 240 10% 3.9%;
    --popover: 345 60% 98%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 340 90% 65%;
    --primary-foreground: 355 100% 97%;
    --secondary: 340 80% 90%;
    --secondary-foreground: 340 90% 30%;
    --muted: 340 60% 94%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 200 90% 60%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 340 80% 88%;
    --input: 340 80% 92%;
    --ring: 340 90% 65%;
    --radius: 0.75rem;
    --chart-1: 340 90% 65%;
    --chart-2: 200 90% 60%;
    --chart-3: 300 80% 70%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 95%;
    --card: 240 10% 8%;
    --card-foreground: 0 0% 95%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 95%;
    --primary: 340 90% 65%;
    --primary-foreground: 355 100% 97%;
    --secondary: 340 90% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 200 90% 60%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 15%;
    --input: 240 5% 15%;
    --ring: 340 90% 65%;
    --radius: 0.75rem;
    --chart-1: 340 90% 65%;
    --chart-2: 200 90% 60%;
    --chart-3: 300 80% 70%;
    --chart-4: 43 74% 66%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
